<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>运营商</title>
    <!-- Bootstrap -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../../assets/css/font.css" rel="stylesheet"> -->
    <link href="../../assets/css/roll.css" rel="stylesheet">
    <link href="../../assets/css/swiper.min.css" rel="stylesheet">
    <link href="../../assets/css/public.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/animation.css" rel="stylesheet">
    <link href="../../assets/css/erji.css" rel="stylesheet">
    <link href="../../assets/css/iconfont.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../assets/js/scrollBar.js"></script>
    <script src="../../assets/js/wow.js"></script>
    <!-- <script src="../../assets/js/wow.min.js"></script> -->
    <script src="../../assets/js/animationJs.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
  </head>

  <body>
<!-- nav -->
<header class="heade heade_hover">
  <nav class="navbar navbar-default" role="navigation" id="navbar"> 
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">展开导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand logo">
            <img  src="../../assets/image/index/logo_white.png" class="logo1">
            <!-- <img  src="../../assets/image/index/logo_white.png" class="logo2"> -->
          </a>
      </div>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li class="hover">
              <a href="#">技术核心</a>
              <div class="dis">
                <div class="menu1">
                  <div class="menu2 menu2-left">
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-1.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-1-h.png">
                      </div>
                      <p>人脸与人体分析技术</p>
                    </a>
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-2.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-2-h.png">
                      </div>                       
                      <p>机器人控制与传感</p>
                    </a>
                  </div>
                  <div class="menu2">
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-3.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-3-h.png">
                      </div> 
                      <p>通用与专业图像识别</p>
                    </a>
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-4.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-4-h.png">
                      </div> 
                      <p>自动驾驶</p>
                    </a>
                  </div>
                  <div class="menu2">
                      <a href="#" class="menu3">
                        <div class="menu4">
                          <img src="../../assets/image/index/nav-hxjs-5.png">
                          <img class="img1" src="../../assets/image/index/nav-hxjs-5-h.png">
                        </div> 
                      <p>海量视频理解与挖掘</p>
                    </a>
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-6.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-6-h.png">
                      </div> 
                      <p>深度学习平台</p>
                    </a>
                  </div>
                  <div class="menu2">
                      <a href="#" class="menu3">
                        <div class="menu4">
                          <img src="../../assets/image/index/nav-hxjs-7.png">
                          <img class="img1" src="../../assets/image/index/nav-hxjs-7-h.png">
                        </div> 
                      <p>图像视频处理增强</p>
                    </a>
                    <a href="#" class="menu3">
                      <div class="menu4">
                        <img src="../../assets/image/index/nav-hxjs-8.png">
                        <img class="img1" src="../../assets/image/index/nav-hxjs-8-h.png">
                      </div> 
                      <p>医学图像分析</p>
                    </a>
                  </div>
                  <div class="menu2">
                      <a href="#" class="menu3">
                        <div class="menu4">
                          <img src="../../assets/image/index/nav-hxjs-9.png">
                          <img class="img1" src="../../assets/image/index/nav-hxjs-9-h.png">
                        </div> 
                      <p>SLAM与3D视觉</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="#">产品服务</a>
              <div class="dis menulistbox">
                  <div class="menulist">
                    <p class="hover">智慧城市</p>
                    <p class="">智能手机</p>
                    <p class="">泛文化娱乐</p>
                    <p class="">智能汽车</p>
                    <p class="">智慧健康</p>
                    <p class="">智慧商业与金融</p>
                    <p class="">教育</p>
                    <p>广告</p>
                  </div>
          
                  <!--智慧城市-->
                  <div class="listmenu1" id="menu-zhcs">
                    <!--智慧安防-->
                    <p class="menu-zhcs hover"><span class="glyphicon glyphicon-menu-right"></span>智慧安防</p>
                    <div class="zhcsmenu" style="display: block;">
                      <p><a href="#">SenseFoundry 方舟视觉城市开放平台</a></p>
                      <p><a href="#">SensePortrait-D 人脸动态对比服务器</a></p>
                      <p><a href="#">SensePortrait-S 人脸静态对比服务器</a></p>
                      <p><a href="#">SenseVideo-A 视频结构化解析服务器</a></p>
                      <p><a href="#">SenseTotem 深度学习视图情报研判系统</a></p>
                      <p><a href="#">SenseFace 人脸大数据实战平台</a></p>
                      <p><a href="#">SenseDLC 人脸抓拍摄像机</a></p>
                    </div>
          
                    <!--智慧交通-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>智慧交通</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">SenseCrowd 人群分析系统</a></p>
                    </div>
          
                    <!--智慧地产-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>智慧地产</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">SenseRealty 智慧案场</a></p>
                    </div>
          
          
          
                    <!--运营商-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>运营商</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">SenseID 身份验证服务</a></p>
                    </div>
          
                    <!--智能设备-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>智能设备</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">智能设备产品方案</a></p>
                      <p><a href="#">SensePass 人脸识别一体机</a></p>
                      <p><a href="#">SensePass Pro 商汤智行人脸识别一体机</a></p>
                      <p><a href="#">SenseKeeper 人脸识别机（闸机版）</a></p>
                      <p><a href="#">SenseID 身份验证一体机</a></p>
                      <p><a href="#">SenseNebula-M 智能边缘节点</a></p>
                      <p><a href="#">SenseOffice 智慧办公平台</a></p>
                      <p><a href="#">SenseStudio 智能组件赋能平台</a></p>                      
                    </div>
          
                    <!--遥感-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>遥感</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">SenseEarth 感知地球</a></p>
                      <p><a href="#">SenseRemote 遥感影像智能解译解决方案</a></p>
                    </div>
          
                    <!--视频大数据-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>视频大数据</p>
                    <div class="zhcsmenu" style="display: none">
                      <p><a href="#">SenseKitchen 智慧餐厨卫生预警系统</a></p>
                      <p><a href="#">SenseRadar 互联网视图解析预警系统</a></p>
                    </div>
          
                  </div>
          
                  <!--智能手机-->
                  <div class="listmenu1" style="display: none;">
                    <p><a href="#">SenseMatrix 人脸3D重建方案</a></p>
                    <p><a href="#">SensePhoto 手机图像处理解决方案</a></p>
                    <p><a href="#">SenseID 手机人脸解锁方案</a></p>
                    <p><a href="#">SenseMoji 表情模拟方案</a></p>
                    <p><a href="#">SenseAR 平台</a></p>
                  </div>
          
          
                  <!--泛文化娱乐-->
                  <div class="listmenu1" style="display: none;">
                    <p><a href="#">SenseAR 特效引擎</a></p>
                    <!--
                              <p><a href="/Service/sensear_shape.html">SenseAR 美体塑形</a></p>
                              -->
                    <p><a href="#">SenseInsight 客群洞察</a></p>
                    <p><a href="#">SensePosture 人体骨架检测</a></p>
                    <p><a href="#">SenseMedia 视频图像内容审核及解析平台</a></p>
                  </div>
          
                  <!--智能汽车-->
                  <div class="listmenu1" id="menu-zncc" style="display: none;">
                    <!--智能汽车-->
                    <p class="menu-zhcs hover" style="padding-bottom: 0;"><span class="glyphicon glyphicon-menu-right"></span>智能驾驶</p>
                    <div class="zhcsmenu" style="display: block;">
                      <p><a href="#">SenseDrive 高级驾驶辅助系统</a></p>
                    </div>
                    <!--智能车舱-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>智能车舱</p>
                    <div class="zhcsmenu">
                      <p><a href="#">SDK 类</a></p>
                      <!--<p><a href="/Service/Car_FrontGesture.html">前装软硬件一体</a></p>-->
                      <p><a href="#">后装软硬件一体</a></p>
                      <p><a href="#">云端</a></p>
                    </div>
                  </div>
          
                  <!--智慧健康-->
                  <div class="listmenu1" style="display: none;">
                    <p><a href="#">SenseCare 智慧诊疗平台</a></p>
                  </div>
          
          
                  <!--智慧商业与金融-->
                  <div class="listmenu1" id="menu-zhsy" style="display: none;">
                    <!--线上金融-->
                    <p class="menu-zhcs hover" style="padding-bottom: 0;"><span class="glyphicon glyphicon-menu-right"></span>线上金融</p>
                    <div class="zhcsmenu" style="display: block;">
                      <p><a href="#">SenseID 云服务</a></p>
                      <p><a href="#">SenseOCR 文字识别云服务</a></p>
                    </div>
          
                    <!--线下金融-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>线下金融</p>
                    <div class="zhcsmenu">
                      <p><a href="#">银行 VIP 会员识别 </a></p>
                      <p><a href="#">财富管理运营助手 </a></p>
                      <p><a href="#">线下金融解决方案</a></p>
                      <p><a href="#">线下运营智能网点 </a></p>
                      <p><a href="#">SenseData 金融大数据 </a></p>
                    </div>
          
                    <!--智慧零售-->
                    <p class="menu-zhcs"><span class="glyphicon glyphicon-menu-right"></span>智慧零售</p>
                    <div class="zhcsmenu">
                      <p><a href="#">SenseGo 智慧商业解决方案</a></p>
                    </div>
                  </div>
                  <!--教育-->
                  <div class="listmenu1" style="display: none;">
                    <p><a href="#">AI 基础教育</a></p>
                    <p><a href="#">智慧校园解决方案</a></p>
                  </div>
          
                  <!--广告-->
                  <div class="listmenu1" style="display: none;">
                    <p><a href="#">SenseFocus （聚睛）广告平台</a></p>
                    <p><a href="#">SenseU 互动广告机</a></p>
                  </div>
          
                  <!--申请试用-->
                  <div class="apply">
                    <p>
                      <a href="#">申请试用</a>
                      <span class="glyphicon glyphicon-menu-right"></span>
                      <span class="glyphicon glyphicon-menu-right"></span>
                    </p>           
                  </div>           
<script>
        $(function() {
            //产品线切换
            $('.menulist>p').each(function(i) {
            $(this).mouseover(function() {
                if ($(this).hasClass('hover')) {
                } else {
                $('.menulist>p').removeClass('hover');
                $(this).addClass('hover');
                $('.listmenu1').hide();
                $('.listmenu1').eq(i).stop().fadeIn()
                }
            })
            })
            //智慧城市
            $('#menu-zhcs>.menu-zhcs').each(function(i){
            $(this).click(function(){
                if ($(this).hasClass('hover')) {
                $(this).removeClass('hover');
                $(this).next($('.zhcsmenu')).slideUp()
                } else {
                $('#menu-zhcs').find($('.menu-zhcs')).removeClass('hover');
                $(this).addClass('hover');
                $('#menu-zhcs').find($('.zhcsmenu')).slideUp();
                $(this).next($('.zhcsmenu')).slideDown()
                }
            })
            })
            //智能车舱
            $('#menu-zncc>.menu-zhcs').each(function(i){
            $(this).click(function(){
                if ($(this).hasClass('hover')) {
                $(this).removeClass('hover');
                $(this).next($('.zhcsmenu')).slideUp()
                } else {
                $('#menu-zncc').find($('.menu-zhcs')).removeClass('hover');
                $(this).addClass('hover');
                $('#menu-zncc').find($('.zhcsmenu')).slideUp();
                $(this).next($('.zhcsmenu')).slideDown()
                }
            })
            })
            //智慧商业
            $('#menu-zhsy>.menu-zhcs').each(function(i){
            $(this).click(function(){
                if ($(this).hasClass('hover')) {
                $(this).removeClass('hover');
                $(this).next($('.zhcsmenu')).slideUp()
                } else {
                $('#menu-zhsy').find($('.menu-zhcs')).removeClass('hover');
                $(this).addClass('hover');
                $('#menu-zhsy').find($('.zhcsmenu')).slideUp();
                $(this).next($('.zhcsmenu')).slideDown()
                }
            })
            })
        })
</script>
                </div>
            </li>
            <li>
              <a href="#">客户案例</a>
              <div class="dis menu-anli">
                  <div class="scroll_main">
                    <div class="scroll_wrap">
                      <div class="scroll_cont">
                        <div class="almenu">
                          <div class="almenu1">
                            <a class="almenu2">
                              <p class="almenu3 hover">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                智慧城市													
                              </p>
                            </a>
                            <div class="almenu4" style="display: block;">
                                <a href="#">智慧安防</a>
                                <a href="#">智慧交通</a>
                                <a href="#">智能设备</a>
                                <a href="#">运营商</a>
                                <a href="#">遥感</a>
                                <a href="#">视频大数据</a>													
                            </div>
                                                                                  
                            <a href="#" class="almenu2">
                              <p>智能手机</p>
                            </a>												
                            <a href="#" class="almenu2">
                              <p>泛文化娱乐</p>
                            </a>
                            <a class="almenu2">
                              <p class="almenu3">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                智能汽车													
                              </p>
                            </a>
                                                      
                            <div class="almenu4">
                                <a href="#">智能驾驶</a>
                                <a href="#">智能车舱</a>													
                            </div>																								
                            <a href="#" class="almenu2">
                              <p>智慧健康</p>
                            </a>
                            <a class="almenu2">
                              <p class="almenu3">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                智慧商业与金融													
                              </p>
                            </a>
                            <div class="almenu4">
                                <a href="#">线上金融</a>
                                <a href="#">线下金融</a>
                                <a href="#">智慧零售</a>													
                            </div>																								
                            <a href="#" class="almenu2">
                              <p>教育</p>
                            </a>								
                          </div>
                        </div>
                      </div>
          
                      <div class="scroll_bar">
                        <div class="scroll_slider"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
<script>
    //案例下拉菜单滚动条
    new CusScrollBar({
    contentSelector: '.scroll_cont', //滚动内容区
    barSelector: '.scroll_bar', //滚动条
    sliderSelector: '.scroll_slider' //滚动滑块
    });

    /*案例下拉菜单*/ 
    $('.almenu1 .almenu3').each(function(i){
    $(this).click(function(){
        if($(this).parent().next('.almenu4').is(":visible")){
        $(this).removeClass('hover');
        $('.almenu4').slideUp(300);
        }else{
        $('.almenu4').slideUp(300);
        $('.almenu3').removeClass('hover');
        $(this).addClass('hover');
        $(this).parent().next('.almenu4').slideDown(300);
        }

        setTimeout(function(){
        if($('.almenu').outerHeight()-10<=$('.scroll_cont').outerHeight()){
            $('.scroll_bar').css('opacity',0)
        }else{
            $('.scroll_bar').css('opacity',1)
        }
        },400); 
    })
    })
</script>
            <li>
              <a href="#">新闻中心</a>
            </li>
            <li class="dropdown">
              <a href="#">关于商汤</a>
              <div class="dis newslist">
                <div class="newsmenu">
                  <div class="newsmenu1">
                    <div class="newsmenu2">
                      <a href="#">商汤使命</a>
                      <a href="#">商汤介绍</a>
                      <a href="#">商汤之路</a>
                      <a href="#">联系我们</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="#">加入我们</a>
              <div class="dis joinlist">
                  <div class="newsmenu">
                    <div class="newsmenu1">
                      <div class="newsmenu2">
                        <a href="#">走进商汤</a>
                        <a href="#">商汤动态</a>
                        <a href="#">商汤投递</a>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="lang hidden-xs hidden-sm">
      <a class="hover">中</a>
      <a href="/en">EN</a>
    </div>
  </nav>
</header>

<div class="nr-banner a-background" style="background-image: url('../../assets/image/case/khal-banner.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="wow fadeInUpa">客户案例</h1>
        <p class="wow fadeInUpa" data-wow-delay=".2s">专业的合作伙伴与客户，遍及互联网、手机、金融、遥感等多个领域</p>
      </div>
    </div>
  </div>
</div>

<!-- 二级页面导航 -->
<section class="border-bottom nrnav-box" style="overflow: visible; top: 0px;" id="nrnav-box">
    <div class="width-1220 nr-nav">
        <!--<div class="nr-nav-left">智慧安防</div>-->
        <div class="nr-crumbs">
            <div class="khal-nr-nav">
                <span style="color: #707070;">客户案例</span>
                <span class="glyphicon glyphicon-menu-down"></span>
                <span>智慧城市</span>
                <span class="glyphicon glyphicon-menu-down"></span>
                    <span>运营商</span>				
                </div>

            <!--下拉菜单-->
            <div class="hxjs-nav3 khal-nr-nav-box">
                <div class="box_Arrow"></div>
                <a class="khal-nav-menu ">智慧城市<span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="khal-nr-nav-box2">
                    <a href="">智慧安防</a>
                    <a href="">智慧交通</a>													
                    <a href="">智能设备</a>													
                    <a href="" class="red">运营商</a>													
                    <a href="">遥感</a>													
                    <a href="">视频大数据</a>									
                </div>																
                <a class="khal-nav-menu" href="">智能手机</a>
                <a class="khal-nav-menu" href="">泛文化娱乐</a>
                <a class="khal-nav-menu">智能汽车<span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="khal-nr-nav-box2">
                    <a href="">智能驾驶</a>													
                    <a href="">智能车舱</a>									
                </div>								
                <a class="khal-nav-menu" href="">智慧健康</a>
                <a class="khal-nav-menu">智慧商业与金融<span class="glyphicon glyphicon-menu-right"></span></a>
                <div class="khal-nr-nav-box2">
                    <a href="">线上金融</a>													
                    <a href="">线下金融</a>													
                    <a href="">智慧零售</a>									
                </div>								
                <a class="khal-nav-menu" href="">教育</a>
                </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<div id="nrnav-box-height"></div>

<!-- 轮播 -->
<section>
    <div class="width-1220 cp-4">
        <div class="cp-6 khal-1" id="khal-menubox">
            <div class="swiper-wrapper">
                <div class="cp-addname hover swiper-slide active" style="width: 236px;">
                    <a class="cp-5 m-center khal-menu ">
                        <div><img src="../../assets/image/case/5bd55aac839f9.jpg"></div>
                    </a>
                    <p>中移在线服务有限公司</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-disabled"></div>
        <div class="swiper-button-next swiper-button-disabled"></div>
    </div>
    <div class="width-100 khal-2" id="khal">
        <div class="swiper-wrapper" style="height: 1380px;">
            <!--1-->
            <div class="swiper-slide">
                <div class="khal-3 a-background" style="background-image: url('../../assets/image/case/5cb72716211b7.jpg');">
                    <div class="width-1220 khal-8">
                        <div class="khal-4">
                            <!--notempty name="xo.pic2"><img src="/上海西岸" class="khal-img" /></notempty-->
                            <p class="delay-2">中移在线服务有限公司</p>
                            <p class="delay-2 case_info">是中国移动通信集团公司下属的专业化子公司，成立于 2014 年 10 月。目前，主要面向移动客户提供互联网服务、呼叫服务等。</p>
                        </div>
                    </div>
                </div>
                <div class="width-1220 khal-7">
                    <div class="khal-5">
                        <div class="text">
                            <h2 class="wow fadeInUpa"></h2>
                            <p class="wow fadeInUpa delay-2">商汤科技与中移在线联合研发人证比对一体机，为客户提供具备身份证信息读取和人像比对验证功能的 SenseID 设备。该设备能快速正确读取身份证芯片信息，调取摄像头现场抓取人脸照片，通过算法进行人脸比对，同时正确判断是否为同一人。不仅如此，商汤科技 SenseID 的屏幕提醒用户操作流程，提升客户运营效率的同时大大提升了用户体验，尤其为老人、行动不便的人提供了方便。 另外商汤科技与中移在线联合研发智能门禁设备，采用创新的双目活体及比对算法，同时支持刷脸、刷身份证、刷工卡模式，为客户提供准确、快速、可靠的进出服务。</p>
                        </div>
                        <div class="img"><img src="../../assets/image/case/5cb727249e3d6.jpg"></div>
                    </div>																																	 
                </div>
            </div>
        </div>
    </div>

</section>

<!-- footer -->
<footer class="footer-bg">
  <div class="container">
    <div class="footer1">
      <p class="footer-p">商业合作：<span>400 900 5986</span><i> ( 周一到周五 9:00-18:00 )</i>
        <span class="pull-right">business@sensetime.com</span>
      </p>   
      <div class="footer2">
        <a href="#">学术合作</a>
        <a href="#">合作伙伴</a>
        <a href="#">活动中心</a>
        <a href="#">法律声明</a>
        <a href="#">使用条款</a>
      </div>
      <div class="footer3">
        <div class="footer-logo"><img src="../../assets/image/index/footer-logo.png"></div>
        <a id="wxbox2">
          <img src="../../assets/image/index/footer-wx.png">
          <div class="wxbox">
            <img src="../../assets/image/index/erwm.png" alt="">
          </div>
        </a>
        <a href="#" id="wxbox"><img src="../../assets/image/index/footer-weibo.png">
          <div class="wxbox">
            <img src="../../assets/image/index/erwm1.png" alt="">
          </div>
        </a>

        <a href="#" target="_blank" style="margin-right: 0;">
          <img src="../../assets/image/index/footer-linkedin.png">
        </a>
      </div>
    </div>
    <div class="width-1220 footer-ba">
      <p>
        <span>京 ICP 备 15000892 号-1 京 ICP 备 15000892 号-2</span>
        <span class="hidden-xs">|</span>
        <span class="footer-ba1">京公网安备 11010802026791 号</span>
        <span>© 2014-2019  SenseTime. All Rights Reserved. 北京市商汤科技开发有限公司</span>
      </p>
    </div>
  </div>
</footer>


<!-- Initialize Swiper -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23257197-2"></script>
    <script>
      $(function(){     
        // 顶部导航
        $(".navbar-nav>li>a").addClass("ah")
        $(".logo1").attr("src","../../assets/image/index/logo.png");

        //二级导航下拉
            //一级
            $('.khal-nr-nav').click(function(){
              event.stopPropagation();
              if($(this).hasClass('active')){
                $('.hxjs-nav3').slideUp();
                $(this).removeClass('active')
              }else{
                $('.hxjs-nav3').slideDown()
                $(this).addClass('active')
              }
            });
            //二级
            $('.khal-nr-nav-box>.khal-nav-menu').click(function(){
              event.stopPropagation();
              if($(this).hasClass('active')){
                $(this).next('.khal-nr-nav-box2').slideUp();
                $(this).removeClass('active')
              }else{
                $(this).next('.khal-nr-nav-box2').slideDown()
                $(this).addClass('active')
              }
            })
            //点击空白处菜单收回
            $('body').on('click',function(){
              $('.khal-nr-nav').removeClass('active');
              $('.hxjs-nav3').slideUp();
            })


        //二级导航
        var headerHeight=$('header').outerHeight();
        var nrnavHeight=$('#nrnav-box').outerHeight();
        var nrnavTop=$("#nrnav-box").offset().top;//获得上部高度
        console.log(headerHeight);
        console.log(nrnavHeight);
        console.log('nrnavTop'+nrnavTop)

        $(window).scroll(function(){
          // 固定二级导航
          if($(window).scrollTop()>nrnavTop - headerHeight){
            $('header').addClass("headeractive");
            $("#nrnav-box").addClass('active');
            $("#nrnav-box").css('top',0);
            $("#nrnav-box-height").height(nrnavHeight);
          }else{
            $('header').removeClass("headeractive");
            $("#nrnav-box").removeClass("active");
            $("#nrnav-box").css('top',0);
            $("#nrnav-box-height").height(0);
          }
        });
        //轮播图
        var hxjsMenu = new Swiper('#khal-menubox', {
        slideToClickedSlide:true,//设置为true则点击slide会过渡到这个slide。
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
        slidesPerView : 5,
        slidesPerGroup :5,
        //slidesPerView : 1,
        //slidesPerGroup : 1,
        breakpoints: {
            //当宽度小于等于768
            768: {
            slidesPerView: 4,
            slidesPerGroup :4,
            freeMode : true,
            }
        },
        });
        var hxjsCon = new Swiper('#khal', {
        noSwiping : $(window).innerWidth()>768?true:false,
        noSwipingClass : 'swiper-slide',
        pagination : '.hxjs-page',
        paginationType : 'fraction',
        prevButton:'.hxjs-prev',
        nextButton:'.hxjs-next',
        autoHeight: true, //高度随内容变化
        onSlideChangeStart: function(swiper){
            hxjsMenu.slideTo(swiper.activeIndex, 500, false);
            $('#khal-menubox').find('.swiper-slide').removeClass('hover');
            $('#khal-menubox').find('.swiper-slide').eq(swiper.activeIndex).addClass('hover');

        },
        onSlideChangeEnd: function(swiper){
            $('#khal').find('.swiper-slide').find('.wo').removeClass('zhixing');
            $('#khal').find('.swiper-slide').eq(swiper.activeIndex).find('.wo').addClass('zhixing');
        },
        });
        $('#khal-menubox').find('.swiper-slide').each(function(i){
        $(this).click(function(){
            $('#khal-menubox').find('.swiper-slide').removeClass('hover');
            $(this).addClass('hover');
            hxjsMenu.slideTo(i, 500, true);
            hxjsCon.slideTo(i, 500, true);
        })
        });

        //  ???????????
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143749905-1');

      })
    </script>
  </body>
</html>